$bg-color: #11191f;
$navbar-background-color: $bg-color;
$navbar-item-img-max-height: 120px;
$accent-color: #ffc86b;
$primary-color: #eeeeee;
$navbar-item-font-size: 20px;
$font-family: system-ui, -apple-system, "Segoe UI", "Roboto", "Ubuntu",
"Cantarell", "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
"Segoe UI Symbol", "Noto Color Emoji";
$content-padding: 70px;
$hero-padding: max($content-padding, 10vw);

@import "node_modules/bulma/bulma.sass";

html {
    scroll-behavior: smooth;
}

body {
    color: $primary-color;
    font-family: $font-family;
    background-color: $bg-color;
    overflow: hidden;
}

body::-webkit-scrollbar {
    width: 16px;
}

body:not([no-y-overflow])::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 4px solid transparent;
    background-clip: content-box;
    background-color: #aaa;
}

body::-webkit-scrollbar-thumb {
    height: 10px;
    border-radius: 8px;
    border: 4px solid transparent;
    background-clip: content-box;
    background-color: hsl(0, 0%, 67%);
}

::-webkit-scrollbar-track {
    background: $bg-color;
}

body > header {
    min-height: 30vh;
}

.columns {
    .column.is-offset-1_5 {
        margin-left: 12.5%;
    }
}


.button.is-info.is-outlined:hover {
    background-color: hsl(207deg, 61%, 20%);
}

.profile-photo {
    margin-right: 7%;
}

.navbar {
    padding: $content-padding;

    .navbar-brand {
        width: 0%;
    }
    .navbar-start {
        margin: 0;
        justify-content: center;
        align-items: center;
        width: 100%;

        .navbar-item {
            background-color: transparent;
            color: $primary-color;
            padding: 0 30px 0 30px;
            font-size: 20px;
            &:hover {
                color: $accent-color;
            }
        }
    }

    .navbar-end {
        .navbar-item {
            background-color: transparent;
            color: $primary-color;
            font-size: 20px;
            &:hover {
                color: $accent-color;
            }
        }
    }

    .navbar-burger span {
        color: $primary-color;
    }
}


section {
    h1 {
        font-size: 30px;
        text-align: center;
        margin-bottom: 30px;
    }
}

#main-hero {
    padding: 0 70px 0 70px;
    color: $primary-color;
    margin-bottom: 0px;
    min-height: 70vh;

    h1, h2, h3, .catchphrase{
        font-weight: 100;
        margin: 0;
        font-size: 1rem;

        strong {
            font-weight: 400;
            color: $accent-color;    
        }
    }

    h1 {
        font-size: 20px;
        text-align: left;
    }

    h2 {
        font-size: 70px;
        line-height: 70px;
    }

    h3 {
        font-size: 70px;
    }

    .catchphrase {
        font-size: 40px;
    }

    p {
        font-size: 20px;
        margin-top: 20px;
        // line-height: 26px;
        color: $grey-light;
        max-width: 80%;
    }

    .button {
        margin-top: 2rem;
    }
}

.social-links {
    position: fixed;
    bottom: 0;
    left: 10rem;

    ul {
        margin-bottom: 0;

        li {
            list-style: none;
            
            a {
                color: $primary-color;

                &:hover {
                    color: $accent-color;
                }
            }
        }
    }

    ul::after {
        content: "";
        display: block;
        width: 1px;
        height: 90px;
        margin: 0px auto;
        background-color: white;
    }
}

#about {
    padding-top: 20px;

    img {
        border-radius: 20px;
    }
}

#skills {
    padding: 0 256px 0 256px;
    margin-top: 80px;
    // min-height: 100vh;

    .skill-card {
        padding: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #293035;
        border-radius: 30px;
        // width: 200px;
        margin: auto;

        img {
            height: 50px;
        }

        .skill-title {
            margin-top: 12px;
            color: $primary-color;
        }
    }
}


#timeline {
    padding: 100px 15px;

    .timeline-items{
        max-width: 1000px;
        margin:auto;
        display: flex;
        flex-wrap: wrap;
        position: relative;
    }
    .timeline-items::before{
        content: '';
        position: absolute;
        width: 2px;
        height: 100%;
        background-color: #2f363e;
        left: calc(50% - 1px);
    }
    .timeline-item{
        margin-bottom: 40px;
        width: 100%;
        position: relative;
    }
    .timeline-item:last-child{
        margin-bottom: 0;
    }
    .timeline-item:nth-child(odd){
        padding-right: calc(50% + 30px);
        text-align: right;
    }
    .timeline-item:nth-child(even){
        padding-left: calc(50% + 30px);
    }
    .timeline-dot{
        height: 16px;
        width: 16px;
        background-color: #eaa023;
        position: absolute;
        left: calc(50% - 8px);
        border-radius: 50%;
        top:10px;
    }
    .timeline-date{
        font-size: 18px;
        color: #eaa023;
        margin:6px 0 15px;
    }
    .timeline-content{
        background-color: #2f363e;
        padding: 30px;
        border-radius: 5px;
        // text-align: left;

        // p.current-tag {
        //     color: $accent-color;
        // }

        // a {
        //     color: $accent-color;
        //     text-decoration: none;
	    //     position: relative;
        //     display: inline-flex;
        //     overflow: hidden;
                
        //     &:hover::after {
        //         opacity: 1;
        //         transform: translate3d(0, 0, 0);
        //     }

        //     &::after {
        //         content: '';
        //         position: absolute;
        //         bottom: 0;
        //         left: 0;
        //         width: 100%;
        //         height: 0.1em;
        //         background-color: $accent-color;
        //         opacity: 0;
        //         transition: opacity 300ms, transform 300ms;
        //         transform: translate3d(-100%, 0, 0);
        //     }
        // }
    }
    .timeline-content h3{
        font-size: 20px;
        color: #ffffff;
        margin:0 0 10px;
        font-weight: 500;
    }
    .timeline-content p{
        color: #c8c8c8;
        font-size: 16px;
        font-weight: 300;
        line-height: 22px;
    }
}

@media screen and (max-width: 1680px) {
    .social-links {
        left: 2rem;
    }

    #main-hero {
        padding-left: $hero-padding;
    }
}

@media screen and (max-width: 1216px) {
    .navbar-item img {
        height: 70px;
    }

    .navbar .navbar-start .navbar-item {
        font-size: 16px;
    }
}

@media screen and (max-width: 1160px) {
    .social-links {
        display: none;
    }
}


@media screen and (max-width: 1024px) {
    .navbar {
        padding: 0px;

        .navbar-brand {
            width: 100%;
        }

        .navbar-burger {
            display: block;
        }
    }

    #timeline {
        .timeline-items::before{
            left: 7px;
        }
        .timeline-item:nth-child(odd){
            padding-right: 0;
            text-align: left;
        }
        .timeline-item:nth-child(odd),
        .timeline-item:nth-child(even){
            padding-left: 37px;
        }
        .timeline-dot{
            left:0;
        }
    }

    #skills {
        .skill-card {
            padding: 12px;
            border-radius: 12px;
            img {
                height: 30px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .columns {
        .column.is-offset-1_5 {
            margin-left: 0;
        }
    }
}

@media screen and (max-width: 770px) {
    #about {
        .profile-desc {
            padding: 0 200px;
            margin-bottom: 20px;
        }

        .profile-photo{
            margin-right: 0;
             img {
                max-width: 300px;
                margin: auto;
                display: block;
            }
        }   
    }

    #skills {
        padding: 0 30px;
    }
}